html,body{
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    width: 100%;
}
.containe{
    width: 2000px;
    opacity: 0.8;
    margin: 0 auto;
}
.qui-header{
    position: relative;
    left: 32%;
    top: 20px;
}
.qui-header a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
}
.qui-header a span{
    font-size: 20px;
    font-family: "Felix Titling";
}
.qui-header a:hover {
    color: #2bab99;
    transition: all 0.5s;
}
.qui-page{
    /*border: 1px solid black;*/
    height: 80px;
    width: 1820px;
    margin: 10px auto;
}
#img{
    display: block;
    float: left;
    margin-top: -15px;
}
.head{
    position: relative;
    /*border: 1px solid black;*/
    height: 80px;
    width: 1820px;
    margin: 0 auto;
}
.head>span{
    width: 910px;
    margin: 0 auto;
    position: absolute;
    left:455px;
    /*border: 1px solid black;*/
    line-height: 80px;
    font-size: 80px;
    text-align: center;
}
.items{
    /*border: 1px solid black;*/
    width: 1800px;
    height:320px;
    padding-left:20px ;
    margin: 10px auto ;
}
.pic img{
    height: 300px;
    width: 300px;
    transition: all 1s;
}
.pic img:hover{
    transform: scale(2,2) rotate(360deg);
}
.item{
    /*border: 1px solid black;*/
    position: relative;
    left: 38px;
    width: 300px;
    height: 300px;
    float: left;
    margin: 5px 20px;
    overflow: hidden;
}
.item::after{
    content: "";
    display: inline-block;
    clear: both;
}
.desc{
    /*border: 1px solid black;*/
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -100px;
    overflow: hidden;
    text-align: center;
    background-color:deepskyblue  ;
    opacity: 0.5;
    transition: all 1s;
}
.item:hover{
    bottom: 5px;
}
.item:hover .desc{
    bottom: 0px;
    font-weight: bold;
    font-size: larger;
}
footer{
    position: relative;
    /*border: 1px solid black;*/
    width: 1820px;
    height: 80px;
    margin: 0 auto;
}
footer>span{
    position: absolute;
    margin: 20px auto;
    height: 40px;
    width: 1820px;
    line-height: 40px;
    /*border:  1px solid black;*/
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color:red;
}